@mixin font-face($style-name, $file, $category:"") {
  $filepath: "fonts/" +  $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}
@mixin two-cols($parent, $child){
  #{$parent}{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    #{$child}{
      padding: 1.5rem 0;
      width: calc(50% - 1.5em);
    }
  }
}
@mixin three-cols($parent, $child){
  #{$parent}{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    #{$child}{
      padding: 1.5rem 0;
      width: calc(33% - 1.5em);
    }
  }
}

@mixin hideAcc {
  position: absolute;
  top: -9999em;
  left: -9999em;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin showAcc {
  position: static;
  clip: auto;
}