// **** BREAKPOINTS **** */
$mobile2: 500px;
$tablet: 768px;
$desktop: 960px;
$desktop2: 1200px;

//* **** COLORS **** */
// Descriptive naming
$white: #ffffff;
$black: #000000;

// Corporative colors

// Other colors

// Validation Forms
$error: #c64848;
$ok: #0a881c;