/*##### GENERIC STYLES #####*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.clr { clear: both; }
.flt { float: left; }
.frt { float: right;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.offscreen, .hide { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }

b, strong, .bold { font-weight: 700; }
em, i { font-style: italic; }

/*Clearfix*/
.cl:before, .cl:after { content: ""; display: table; }
.cl:after { clear: both; }